{
  auto_https disable_redirects
}

{$URLS} {
  tls {$LE_EMAIL}
  encode gzip
  reverse_proxy farm:3000
}

{$STAGING_URLS} {
  tls {$LE_EMAIL} {
    ca https://acme-staging-v02.api.letsencrypt.org/directory
  }
  encode gzip
  reverse_proxy farm:3000
}
